DB_HOST = "<YOUR_DB_HOST>"
DB_PORT = <YOUR_DB_PORT>
DB_NAME = "<YOUR_DB_NAME>"
DB_USER = "<YOUR_DB_USERNAME>"
DB_PASSWORD = "<YOUR_DB_PASSWORD>"

jwt_secret = "<YOUR_JWT_SECRET>"
JWT_ACCESS_COOKIE_NAME = "<YOUR_TOKEN_NAME>"
JWT_TOKEN_LOCATION = ["<YOUR_JWT_LOCATION>"]